{% extends 'base.html.twig' %}

{% block title %}Expenses{% endblock %}

{% block body %}
{% include 'header.html.twig'%}
<br>
<form class="">
  <div class="">
    <label for="type">Enter your name: </label>
    <input type="text" name="type" value="" id="type">
  </div>
  <div class="">
    <label for="descritpion">Enter a descritpion: </label>
    <input type="text" name="descritpion" value="" id="descritpion">
  </div>
  <div class="">
    <label for="recurrent">Is recurrent? </label>
    <input type="radio" name="recurrent" value="True" id="recurrent">
  </div>
  <div class="">
    <label for="amount">Enter the amount: </label>
    <input type="text" name="amount" value="" id="amount">
  </div>
  <div class="">
  <input type="submit" class="btn btn-primary" value="Save">
  </div>
</form>
<script type="text/javascript">
var fd = new FormData(document.querySelector("form"));
  $.ajax({
    url: {{path('expense')}},
    type: "POST",
    data: fd,
    async: true,
    processData: false,  // dire à jQuery de ne pas traiter les données
    contentType: false   // dire à jQuery de ne pas définir le contentType
  }).done(function(rep){
    $(this).JSON.parse(rep);
  });
</script>

{% endblock %}
